<ion-header>
    <ion-toolbar>
        <ion-title>About</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row style="text-align: center">
        <ion-col>
            <ion-avatar (click)="presentActionSheet()">
                <img
                    src="https://scontent.fhan1-1.fna.fbcdn.net/v/t1.0-9/77017762_1664125803724974_383055166623973376_o.jpg?_nc_cat=100&_nc_sid=730e14&_nc_ohc=lqIhn3C5CfkAX8uKHXf&_nc_ht=scontent.fhan1-1.fna&oh=823abeb87c21071fda3e95cc90745f26&oe=5ED63760">
            </ion-avatar>
        </ion-col>
    </ion-row>
    <ion-row style="text-align: center">
        <ion-col>
            <ion-label>Name</ion-label>
        </ion-col>
    </ion-row>
    <img [src]="capturedSnapURL" />
</ion-content>