* {
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
}

#container {
	width: 1024px;
	margin: auto;
}


#menu {
	width: 100%;
	height: 97px;
	background-color: #373c3f;
}

#banner {
	width: 100%;
	height: 550px;
	background-color: #14adc1;
}

#box1 {
	width: 794px;
	height: 245px;
	float: left;
	background-color: #27212c;
}

#box2 {
	width: 230px;
	height: 245px;
	float: right;
	background-color: #bc3183;
}