* {	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

		body {
			background-image: url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg');
			padding: 50px;
		}
		#container {
			font-family: 'Pacifico', cursive;
			max-width: 1100px;
			margin: 0 auto;
			padding: 1.7%;
			text-align: center;
			background-color: white;
		}
		#banner {
			width: 100%;
			margin: auto;
			position: relative;
		}
		.profiles {
			width: 45%;
			position: absolute;
			bottom: 3em;
   			left: 5em;
		}
		@keyframes move {
			0% {left: 5em;}
			50% {left: 30em;}
			100% {left: 5em;}
		}
		.profiles:hover {
			animation: move 5s ease-in-out 1;
		}
		.profiles img {
			max-width: 50%;
			float: left;
			border: 8px solid lightskyblue;
			border-radius: 50%;
		}
		.profiles p {
			padding-left: 1em;
			line-height: 238px;
			float: left;
			color: white;
			font-size: 2.5em;
		}

		#menu-trigger {
			display: none;
		}
		
		#menu {
			width: 100%;
			height: 45px;
			margin: auto;
			background-color: hotpink;
		}
		#menu ul {
			margin: 0;
			padding: 0;
			text-align: center;
			list-style-type: none;
		}
		
		#menu ul li {
			width: 25%;
			float: left;
			line-height: 45px;
			border-right: 1px solid white;
		}
		#menu ul li:hover {
			background-color: lightpink;
		}
		#menu ul li a {
			text-decoration: none;
    		font-size: 1.3em;
    		color: white;
		}
		
		h1 {
			width: 400px;
		    margin: auto;
		    padding: 30px;
    		color: hotpink;
    		font-size: 2.5em;
		}
		
		#main {
  			display: flex;
  			flex-wrap: wrap;
  			justify-content:  center;
		}

		.photo {
			margin: ;
			width: 30%;
			border: 10px solid lightblue;
			padding: 3px;
			margin: 1.5%;
			box-shadow: 5px 5px 10px 3px lightgrey;
			transition: transform 1s ease-in-out;
		}
		
		.photo img {
			width: 100%;
  			vertical-align: middle;
   		}

		.photo:hover {
			transform: scale(1.5) rotate(1turn);
		}
		
		#footer {
			margin-top: 50px;
			font-family: 'Fira Sans', sans-serif;
			font-size: 2em;
			width: 100%;
    		height: 250px;
    		background: hotpink;
    		padding: 60px;
			color: white;
		}