
			* {	margin: 0;
				padding: 0;
				box-sizing: border-box;
			}
			body {
				background-color: white;
				padding: 0;
			}
			#container {
				font-family: 'Pacifico', cursive;
				width: 100%;
				margin: 0 auto;
				padding: 0;
				text-align: center;
				background-color: white;
			}
			#banner {
				width: 100%;
				margin: auto;
				position: relative;
			}
			.profiles {
				width: 50%;
				position: absolute;
				bottom: -110%;
	   			left: 25%;
			}
			@keyframes move {
				0% {left: 0em;}
				50% {left: 0em;}
				100% {left: 0em;}
			}
			.profiles:hover {
				animation: none;
			}
			.profiles img {
				max-width: 100%;
				border: 0.3em solid lightskyblue;
				border-radius: 50%;
			}
			.profiles p {
				line-height: 2em;
				color: hotpink;
				font-size: 2.5em;
			}

			#space {
				width: 100%;
				height: 50vw;
			}

			#menu-trigger {
				width: 90%;
				margin: 0 auto;
				color: white;
				line-height: 45px;
	  			background-color: hotpink;
	  			border-bottom: 1px solid white;
	  			font-size: 1.3em;
	  			border-radius: 10px;
			}
			
			#menu {
				width: 90%;
				margin: 0 auto;
				color: white;
				background-color: hotpink;
				display: none;
				border-radius: 10px;
			}

			#menu ul {
				margin: 0;
				padding: 0;
				/* text-align: left; */
				list-style-type: none;
			}
			
			#menu ul li {
				width: 100%;
				float: none;
				line-height: 45px;
				border-bottom: 1px solid;
			}

			#menu ul li:hover {
				background-color: lightpink;
			}

			#menu ul li a {
				text-decoration: none;
	    		color: white;
	    		font-size: 1.3em;  		
			}
			
			h1 {
				width: 100%;
			    margin: auto;
			    padding: 5%;
	    		color: hotpink;
	    		font-size: 2.2em;
			}
			
			#main {
				width: 100%;
				margin-top: 5vh;
	  			display: flex;
	  			flex-wrap: wrap;
	  			justify-content: center;
			}

			.photo {
				margin: ;
				width: 80%;
				border: 10px solid lightblue;
				padding: 3px;
				margin: 3%;
				box-shadow: 5px 5px 10px 3px lightgrey;
				transition: transform 1s ease-in-out;
			}
			
			.photo img {
				width: 100%;
	  			vertical-align: middle;
	   		}

			.photo:hover {
				transform: scale(1.2) rotate(360deg);
			}
			
			#footer {
				margin-top: 50px;
				font-family: 'Fira Sans', sans-serif;
				font-size: 6vw;
				width: 100%;
	    		height: 40vw;
	    		background: hotpink;
	    		padding: 30px;
				color: white;
			}
