body {
  font-family: 'Pacifico', cursive;
  box-sizing: border-box;
}

#container {
  
}

#khung {
  width: 812px;
  margin: auto;
  border: 12px solid lightpink;
  background-color: lightskyblue;
  position: relative;
}

#khung .chinh {
  padding: 6px;
}

.trang-tri {
  vertical-align: middle;
  position: absolute;
}

#one {
  max-width: 100%;
  top: 0;
  left: 0;
}

#two {
  max-width: 35%;
  left: 75px;
  top: 90px;
}

#khung p {
  position: absolute;
  left: 30px;
  bottom: 20px;
  color: ghostwhite;
  font-size: 1.7em;
  text-align: center;
}